{{template "base" .}}

{{define "title"}}Форма{{end}}

{{define "main"}}
    <div class="container">
        <h2 class="error">{{ .Error }}</h2>

        <h2>Введите данные</h2>

        <form method="post" action="/admin">
            <div>
                <label>Заголовок статьи</label>
                <input type="text" name="inputTitle" placeholder="Введите заголовок">
            </div>

            <div>
                <label>Текст статьи</label>
                <textarea name="inputText" rows="5" placeholder="Введите текст"></textarea>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>
{{ end }}
